# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore all IDE things. Don't need to, but assuming gradle is enough to import this codebase into
# any IDE.

.classpath
.project
.settings

.idea
